<div class="dashboard-page">
  <div class="container-fluid">
    <div class="row">
  
      <div class="col-sm-3 col-md-2 sidebar">

       <div class="text-center">
           <ul class="sidebar nav nav-sidebar">
               <li class="sidebar-main">
                   <a ng-click="toggleSidebar()">
                       Dashboard
                       <span class="menu-icon glyphicon glyphicon-transfer"></span>
                   </a>
               </li>
               <li class="sidebar-title"><span>NAVIGATION</span></li>
               <li class="sidebar-list" ng-class="{active: $state.includes('overview')}"><a ui-sref="overview">Overview<span class="menu-icon fa fa-tachometer"></span></a></li>
               <li class="sidebar-list" ng-class="{active: $state.includes('reports')}"><a ui-sref="reports">Reports<span class="menu-icon fa fa-table"></span></a></li> 
               <li><a ui-sref="login" class="btn btn-white btn-outline btn-rounded btn-sm">Logout</a></li>
           </ul>
        
      </div>
          


    </div>


    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2" ui-view>
    </div>
  </div>
</div>
</div>