<div id="sp-nav">
    <div class="topcoat-list-container">
     
        <ul class="topcoat-list">
            <li class="main-menu">
                <a ng-click="toggle()">
                    <i class="glyphicon glyphicon-transfer menu-icon-main"></i>
                     Dashboard                
                </a>
            </li>
            <li class="menu"><a ui-sref="solarsystem.dashboard"><i class="fa fa-tachometer menu-icon"></i>Dashboard</a></li>  
            <li class="menu"><a ui-sref="solarsystem.overview"><i class="fa fa-map-marker menu-icon"></i>GEO Virtualization</a></li>           
            <li class="menu"><a ui-sref="solarsystem.overview"><i class="fa fa-history menu-icon"></i>Time line</a></li>
            <li class="menu"><a ui-sref="solarsystem.reports"><i class="fa fa-tasks menu-icon"></i>Navigation Item 3</a></li>
            <li class="menu"><a ui-sref="solarsystem.overview"><i class="fa fa-sitemap menu-icon"></i>Menu 1</a></li>
        </ul>
    </div>
</div>
<div id="sp-page">

    <div  ui-view></div>
</div>