.dashboard-page {

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

    background: #ecf0f1;
    color: #666;

    /*
     * Base structure
     */


    /*
     * Global add-ons
     */

    .sub-header {
      padding-bottom: 10px;
      border-bottom: 1px solid #eee;
    }

    /*
     * Top navigation
     * Hide default border to remove 1px line.
     */
    .navbar-fixed-top {
      border: 0;
    }

    /*
     * Sidebar
     */

    /* Hide for mobile, show later */
    .sidebar {

      .user-avatar {
      	margin: 10px 0 10px 0;
      }

      .brand {
      	padding-top: 15px;
      }

      display: none;

      color: #FFF;

      h2 {
      	font-weight: 300;
      	small {
      		color: rgba(255, 255, 255, 0.7);
      	}
      }
    }
    @media (min-width: 768px) {
      .sidebar {
        position: fixed;
        top: 0px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 0 20px 20px 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: lighten(@brand-primary, 0%); //#f5f5f5;
        border-right: 1px solid #eee;
      }
    }

    .nav > li > a:hover, .nav > li > a:focus {
    	background: darken(@brand-primary, 5%);
    }

    /* Sidebar navigation */
    .nav-sidebar {
      margin-right: -21px; /* 20px padding + 1px border */
      margin-bottom: 20px;
      margin-left: -20px;
      margin-top: 20px;
    }
    .nav-sidebar > li > a {
      color: #fff;
      padding-right: 20px;
      padding-left: 20px;
    }
    .nav-sidebar > .active > a,
    .nav-sidebar > .active > a:hover,
    .nav-sidebar > .active > a:focus {
      color: #fff;
      background-color: darken(@brand-primary, 5%);
    }


    /*
     * Main content
     */

    .main {
      padding: 20px;
      position: absolute;
      top: 0px;
      bottom: 0px;
      overflow-x: hidden;
      overflow-y: auto;
      .jumbotron {
        background: #FFF;
        margin-top: 20px;
      }
    }
    @media (min-width: 768px) {
      .main {
        padding-right: 40px;
        padding-left: 40px;
      }
    }
    .main .page-header {
      margin-top: 0;
    }


    /*
     * Placeholder dashboard ideas
     */

    .placeholders {
      margin-bottom: 30px;
      text-align: center;
    }
    .placeholders h4 {
      margin-bottom: 0;
    }
    .placeholder {
      margin-bottom: 20px;
    }
    .placeholder img {
      display: inline-block;
      border-radius: 50%;
    }


    .bg-fade {
      font-size: 500px;
      color: rgba(0,0,0,0.1);
      position: absolute;
      right: -100px;
      top: 200px;
    }

}

#sidebar-wrapper {
    background: #30426a
}

#page-wrapper:not(.open) ul.sidebar .sidebar-title.separator,.sidebar-footer,ul.sidebar .sidebar-list a:hover,ul.sidebar .sidebar-main a {
    background: #2d3e63
}

ul.sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    text-indent: 20px;
    overflow-x: hidden;
    overflow-y: auto
}

ul.sidebar li a {
    color: #fff;
    display: block;
    float: left;
    text-decoration: none;
    width: 250px
}

ul.sidebar .sidebar-main {
    height: 65px
}

ul.sidebar .sidebar-main a {
    font-size: 18px;
    line-height: 60px
}

ul.sidebar .sidebar-main .menu-icon {
    float: right;
    font-size: 18px;
    padding-right: 28px;
    line-height: 60px
}

ul.sidebar .sidebar-title {
    color: #738bc0;
    font-size: 12px;
    height: 35px;
    line-height: 40px;
    text-transform: uppercase;
    transition: all .6s ease 0s
}

ul.sidebar .sidebar-list {
    height: 40px
}

ul.sidebar .sidebar-list a {
    text-indent: 25px;
    font-size: 15px;
    color: #b2bfdc;
    line-height: 40px
}

ul.sidebar .sidebar-list a:hover {
    color: #fff;
    border-left: 3px solid #e99d1a;
    text-indent: 22px
}

ul.sidebar .sidebar-list a:hover .menu-icon {
    text-indent: 25px
}

ul.sidebar .sidebar-list .menu-icon {
    float: right;
    padding-right: 29px;
    line-height: 40px;
    width: 70px
}

#page-wrapper:not(.open) ul.sidebar {
    bottom: 0
}

#page-wrapper:not(.open) ul.sidebar .sidebar-title {
    display: none;
    height: 0;
    text-indent: -100px
}

#page-wrapper:not(.open) ul.sidebar .sidebar-title.separator {
    display: block;
    height: 2px;
    margin: 13px 0
}

#page-wrapper:not(.open) ul.sidebar .sidebar-list a:hover span {
    border-left: 3px solid #e99d1a;
    text-indent: 22px
}

#page-wrapper:not(.open) .sidebar-footer {
    display: none
}

.sidebar-footer {
    position: absolute;
    height: 40px;
    bottom: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    transition: all .6s ease 0s;
    text-align: center
}

.sidebar-footer div a {
    color: #b2bfdc;
    font-size: 12px;
    line-height: 43px
}

.sidebar-footer div a:hover {
    color: #fff;
    text-decoration: none
}
