.login-page {

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;

    background:  #1abc9c;;

	text-align: center;
	color: #fff;

	padding: 3em;

	h1 {
		font-weight: 300;
		small {
			color: rgba(255,255,255,0.7);
		}
	}

	.form-group {
		padding: 8px 0;
	}

	.form-content {
		padding: 40px 0;
	}
    button[type=submit]{

         background: #3ca2e0;
    }
    
}