<div>
    <a ui-sref="reports" class="pull-right btn btn-primary btn-outline btn-rounded">Reports</a>
    <h2>Overview <small>Why is Theme so awesome?</small></h2>
    <div class="jumbotron">
        <div class="container">
            <h1>Welcome!</h1>
            Love it buy it.
            <p>
                <a class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a>
            </p>
        </div>
    </div>
</div>