.ui-base {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.user-avatar {
	width: 125px;
	height: 125px;
}
@sp-nav-offset: 200px;
@sp-nav-offset-skinny: 250px;

#sp-hide-menu {
  display: none;
}

#sp-nav, #sp-nav.wide {
  width: @sp-nav-offset;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: #30426a;
  ul{
    li{        
        a{
           cursor: pointer;
           text-decoration: none;
           display: block;
          
        }
       
      }
     .main-menu{
       height: 60px;
       background: #2d3e63;
       line-height: 60px;
       font-size: 18px;
     }
     .menu{
       height: 40px;     
       line-height: 40px;
       font-size: 15px;
       a:hover {
            color: #3c763d;
            border-left: 3px solid #e99d1a;
            text-indent: 11px;
        }
     }
  }
  nav {
    display: block;
    background: black;
    color: white;
    z-index: 5;
    height: 100%;
    div {
      z-index: 5;
    }
  }
}
.main-navigation-bar{
      color:#fff;
      height: 60px;
      background: #00a65a;
      line-height: 60px;
       h1{
           color:#fff;
           
           text-decoration: none;
           display: block;
           font-size: 22px;
           line-height: 60px;
        }
}
#sp-page {
  position: absolute;
  width: 100%;
  height: 100%;
  float: right;
  z-index: 10;
  -webkit-transform: translateX(60px);
  transform: translateX(60px);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background-color: white;
  .application {
      padding-right:60px;
      .inner{
          padding: 0 10px 0 10px;
          background-color:#FFF;
      }
  }
}

#sp-nav.show, #sp-nav.show.wide {
  left:0px;
  overflow-x: hidden;
}
.menu-icon-main {
    float: left;
    font-size: 18px !important;
    padding-left: 20px;    
    line-height: 60px !important;
    margin-right: 30px;
  }
.menu-icon {
    float: left;
    font-size: 18px !important;
    padding-left: 20px;    
    line-height: 40px !important;
    margin-right: 30px;
  }
#sp-nav.show + #sp-page #sp-show-menu, #sp-nav.show.wide + #sp-page #sp-show-menu {
  display: none;
}

#sp-nav.show + #sp-page #sp-hide-menu, #sp-nav.show.wide + #sp-page #sp-hide-menu {
  display: inline;
}

#sp-nav.show + #sp-page, #sp-nav.show.wide + #sp-page {
  position: absolute;
  -webkit-transform: translateX(@sp-nav-offset);
  transform: translateX(@sp-nav-offset);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}


@media (min-width:900px){
  #sp-nav{
    width: @sp-nav-offset-skinny;
  }
  #sp-nav.show + #sp-page {
    -webkit-transform: translateX(@sp-nav-offset-skinny);
    transform: translateX(@sp-nav-offset-skinny);
  }
}

.nomal {
    font-size: 20px;
}
.huge {
    font-size: 40px;
}
.panel a{ display:block;cursor:pointer;}
.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}
.box.box-success {
    border-top-color: #00a65a;
}
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}
.no-padding {
    padding: 0 !important;
}
.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}
.box-body .box-pane-right {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0;
}
.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
    background-color: #00a65a !important;
}
.pad {
    padding: 10px;
}
.description-block.margin-bottom {
    margin-bottom: 25px;
}
.description-block>.description-header {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
    color:#fff;
}
.description-block>.description-text {
    text-transform: uppercase;
    color:#fff;
}
.description-block {
    display: block;
    margin: 10px 0;
    text-align: center;
}
.box-title {
    display: inline-block;
    font-size: 16px;
    margin: 0;
    line-height: 1;
}

.progress.sm, .progress-sm, .progress.sm .progress-bar, .progress-sm .progress-bar {
    border-radius: 1px;
}
.progress.sm, .progress-sm {
    height: 10px;
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.progress-bar-aqua, .progress-bar-info {
    background-color: #00c0ef;
}

.progress-bar-red, .progress-bar-danger {
    background-color: #dd4b39;
}

.progress-bar-green, .progress-bar-success {
    background-color: #00a65a;
}

.progress-bar-yellow, .progress-bar-warning {
    background-color: #f39c12;
}

.bg-yellow, .callout.callout-warning, .alert-warning, .label-warning, .modal-warning .modal-body {
    background-color: #f39c12 !important;
}

.info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-bottom: 15px;
}
.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0,0,0,0.2);
}

.info-box .progress {
    background: rgba(0,0,0,0.2);
    margin: 5px -10px 5px -10px;
    height: 2px;
}

.info-box .progress, .info-box .progress .progress-bar {
    border-radius: 0;
}

.progress, .progress>.progress-bar {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.progress-description, .info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:#fff;
}

.info-box-text {
    text-transform: uppercase;
    color:#fff;
}
.info-box-number {
    color:#fff;
    display: block;
    font-weight: bold;
    font-size: 18px;
}
.info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
}

.bg-red, .callout.callout-danger, .alert-danger, .alert-error, .label-danger, .modal-danger .modal-body {
    background-color: #dd4b39 !important;
}

.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
    background-color: #00c0ef !important;
}

.box-widget {
    border: none;
    position: relative;
}

.widget-user .widget-user-header {
    padding: 20px;
    height: 120px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.widget-user .widget-user-username {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 300;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
.widget-user .widget-user-desc {
    margin-top: 0;
}
.widget-user .widget-user-image {
    position: absolute;
    top: 65px;
    left: 50%;
    margin-left: -45px;
}

.widget-user .box-footer {
    padding-top: 30px;
}

.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
}
.widget-user .widget-user-image>img {
    width: 90px;
    height: auto;
    border: 3px solid #fff;
}

.img-circle {
    border-radius: 50%;
}
.bg-black {
    background-color: #111 !important;
}
.box .border-right {
    border-right: 1px solid #f4f4f4;
}